.searchbar-form h1 {
    font-size: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input{
    border: 2px solid pink;
    height: 50px;
    width:80%;
    border-radius: 12px;
    font-size: 20px;
}

button{
    height: 55px;
    margin-left: 2%;
    border-radius: 12px;
    background-color: white;
    box-shadow: none;
    border: none;
}

.headertext{
    font-size: 50px;
    color: white;
    font-family: 'Coiny', regular;
    text-shadow: 2px 2px 4px rgba(0, 0, 1, 0.4);
}

.headertext2{
    font-family: 'Coiny', regular;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 1, 0.4);
}

.headerbox{
    background-color: pink;
    width: 100%;
    height: 20%;
}

.footerbox{
    background-color: pink;
    width: 100%;
    height: 20%;
}

.footertext{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.progressbox{
    width: 100%;
    height: 70%;
    border: 2px solid black;
}

.progressbar{
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

.pommes{
    height: 120px;
    width: auto;
}

.fork{
    display: inline-block;
}

.kniv{
    display: inline-block;
}

.forkimg{
    height: 200px;
}

.knivimg{
    height: 200px;
}

.marker{
  position: absolute;
  width: 15px;
  height: 15px;
  left: calc(-15px / 2);
  top: calc(-15px / 2);

  border: 3px solid #f44336;
  border-radius: 40px;
  background-color: none;
  text-align: center;
  color: #3f51b5;
  padding: 4px;
}
