.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2 {
  text-transform: uppercase;
}

button {
  padding: 0.75em;
}

button:focus {
  outline: 0.25em solid #dd0;
}

input, textarea {
  border: 1px solid;
  padding: 0.5rem;
}

[aria-invalid] {
  border-color: #c00;
  padding-right: 1.5rem;
}
